---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { format } from 'date-fns'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./news/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

let title = "Group Members"
let description = "Qi Feng"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={title} description={description} />
		<main>
			<h3>Current Group Members</h3>
			<ul>
			  <div class="container">
    			  <div class="portrait2">
                    <img src="/QiFengPic.jpg">
                  </div>
                <div class="separator3">
                  <div class="text">
                    <b> Qi Feng </b> <br>
                     PI <br>
                     <a href="mailto:qi.feng@utah.edu">qi.feng@utah.edu</a>
                  </div>
                </div>
                </div>

			  <div class="container">
    			  <div class="portrait2">
                    <img src="/AshwaniPandey.png">
                  </div>
                <div class="separator3">
                  <div class="text">
                    <b> Ashwani Pandey </b> <br>
                     Postdoc <br>
                     <a href="mailto:u6059187@utah.edu">u6059187@utah.edu</a>
                  </div>
                </div>
                </div>

                <div class="container">
    			  <div class="portrait2">
                    <img src="/SimonFilbert.jpeg">
                  </div>
                <div class="separator3">
                  <div class="text">
                    <b> Simon Filbert </b> <br>
                     Graduate Student <br>
                     <a href="mailto:u1477296@utah.edu">u1477296@utah.edu</a>
                  </div>
                </div>
                </div>

                <div class="container">
    			  <div class="portrait2">
                    <img src="/Michael at lil black mtn square.jpg">
                  </div>
                <div class="separator3">
                  <div class="text">
                    <b> Michael Martin </b> <br>
                     Graduate Student (2025 Summer Swigart research) <br>
                  </div>
                </div>
                </div>


                <div class="container">
    			  <div class="portrait2">
                    <img src="/RachelFreeman.JPG">
                  </div>
                <div class="separator3">
                  <div class="text">
                    <b> Rachel Freeman </b> <br>
                     Undergraduate Student (2025 Summer REU) <br>
                  </div>
                </div>
                </div>


			</ul>

			<h3>Previous Group Members</h3>
			<ul>
                <h4> Graduate Students </h4>
                   <li> Sneha Singh - 2025 Spring research rotation </li>
                   <li> Rumman Neshat - 2024 Summer/Fall research rotation </li>
                   <li> Benjamin Derieg - 2024 Fall introductory research rotation </li>
                <h4> Undergraduate Students </h4>
                   <li> Stephanie Barka - 2025 Spring  </li>
                   <li> Kennedie Wilding - 2024 Fall & 2025 Spring  </li>
                   <li> Eleanor Young - 2024 Fall & 2025 Spring  </li>
                   <li> Chloe Dufeu - 2024 Summer REU  </li>
                   <li> Dylan Mendoza - 2024 Summer REU </li>

			</ul>
		</main>
		<Footer />
	</body>
</html>