---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { format } from 'date-fns'


let title = "Teaching"
let description = "Qi Feng"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={title} description={description} />
		<main>
			<h4>Courses taught at the University of Utah:</h4>
			<ul>
			    <li> Fall 2025: <a href="https://catalog.utah.edu/courses/0027532"> ASTR 4060: Observational Astronomy </a> <br>
			    <li> Spring 2025: <a href="https://catalog.utah.edu/courses/2013072"> ASTR 1050: The Solar System </a> <br>
			    <li> Fall 2024: <a href="https://catalog.utah.edu/courses/0027532"> ASTR 4060: Observational Astronomy </a> <br>
			</ul>
			<h4>Resources from the University of Utah:</h4>
				<code>
				<a href="https://class-schedule.app.utah.edu/">The University of Utah Class Schedule </a> <br>
				<a href="https://www.physics.utah.edu/undergraduate-program/majors-emphases-minors/">Undergraduate courses for Astronomy & Astrophysics Emphasis</a> <br>
				</code>
				<a href="https://observatory.astro.utah.edu/">The South Physics Observatory</a> are open to the public Wednesday nights for observing when the weather is clear. <br>
		</main>
		<Footer />
	</body>
</html>
