---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

let title = "Teaching";
let description = "Qi Feng";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={title} description={description} />
    <main id="main-content">
      <h2>Teaching</h2>

      <h3>Courses taught at the University of Utah</h3>
      <ul>
        <li><a href="https://catalog.utah.edu/courses/0027532">Fall 2026: PHYS/ASTR 4060: Observational Astronomy</a></li>
        <li><a href="https://catalog.utah.edu/courses/0189151">Spring 2026: PHYS/ASTR 5570/6570: Galaxies</a></li>
        <li><a href="https://catalog.utah.edu/courses/0027532">Fall 2025: PHYS/ASTR 4060: Observational Astronomy</a></li>
        <li><a href="https://catalog.utah.edu/courses/2013072">Spring 2025: PHYS/ASTR 1050: The Solar System</a></li>
        <li><a href="https://catalog.utah.edu/courses/0027532">Fall 2024: PHYS/ASTR 4060: Observational Astronomy</a></li>
      </ul>

      <h3>Resources from the University of Utah</h3>
      <ul>
        <li><a href="https://class-schedule.app.utah.edu/">The University of Utah Class Schedule</a></li>
        <li><a href="https://www.physics.utah.edu/undergraduate-program/majors-emphases-minors/">Undergraduate courses for Astronomy &amp; Astrophysics Emphasis</a></li>
        <li><a href="https://observatory.astro.utah.edu/">The South Physics Observatory</a> is open to the public on Wednesday nights for observing when the weather is clear.</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>