---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { format } from 'date-fns'


let title = "Teaching"
let description = "Qi Feng"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={title} description={description} />
		<main>
			<h4>Courses taught at the University of Utah:</h4>
			<ul>
			    <li> Fall 2024: <a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/1248/class_list.html?subject=ASTR"> ASTR 4060
			</ul>
			<h4>Resources from the University of Utah:</h4>
				<a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/1248/class_list.html?subject=ASTR">The Fall 2023 Astronomy Class Schedule </a> <br>
				<a href="https://student.apps.utah.edu/uofu/stu/ClassSchedules/main/1248/class_list.html?subject=PHYS">The Fall 2023 Physics Class Schedule </a> <br>
				<code><a href="https://www.physics.utah.edu/undergraduate-program/majors-emphases-minors/">Undergraduate courses for Astronomy & Astrophysics Emphasis</a></code>
		</main>
		<Footer />
	</body>
</html>
