p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #0066FF;
    overflow-y: auto ! important;
    overflow-x: hidden ! important;
    background-image: url("../images/DSCF4012.JPG");
    /*background-size: 100% 100%;*/
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;            /* optionally, center the image */
    margin: 30px 0 0 0; 
}

#home { 
  background: url(home-bg.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url(about-bg.jpg) 50% 0 repeat fixed; min-height: 1000px; 
  height: 1000px; 
  margin: 0 auto; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
        
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
}

h1.title {
    color: #606060;
    padding-left: 10px;
    text-align: left;
    /*text-align: center;*/
}

.important {
    background-color: #FFCC00;
}

.float_center {
    float: right;
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}

.float_center > .child {
    position: relative;
    left: 50%;
}

.float_right {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

#nav {
    width: 30px
    float: left;
    margin-right: 10px;
    background: #DDD;
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: gray;
    background-color: #FFCC00;
    padding: 0.2em 0.6em;
    border-right: 1px solid #FFCC00;
}

a:hover {
    background-color: #FF6600;
}

li {
    display: inline;
}

.ab {
    background-color: transparent;
}

#voronoi {
    text-align: center;
    margin: 0 auto;
}

#container {
    height: 400px;
    /*background: #DDD;*/
}

#sujucontainer {
    height: 800px;
    margin: 10px 10px 10px 10px;
    overflow: auto;
}

.helvetica {
    font-family: Helvetica;
    font-size: 16px;
}

.green-big {
    color: green;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  padding-left: 10px;
  margin-bottom: 0px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  height: 270px;
  background-image: url("../images/back2.JPG");
  background-position: 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 40px 0px;
}
section.module.parallax {
  height: 420px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 40px 0px;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: -100px -20px;
  padding: -40px -100px;
}
section.module.parallax-1 {
  background-image: url("../images/1.JPG");
  margin: -60px;
}
section.module.parallax-2 {
  background-image: url("../images/2.JPG");
}
section.module.parallax-3 {
  background-image: url("../images/3.JPG");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}

