---
const today = new Date();
import '../styles/global.css';
---

<footer>
	&copy; {today.getFullYear()} Qi Feng. All rights reserved.
	<p>This website uses <a href="https://astro.build/">Astro</a> and <a href="https://simplecss.org">Simple.css</a> 
    under MIT license, 
    and the starter template by <a href="https://www.lkhrs.com">Luke Harris</a>.</p>
</footer>
